<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">App Name</a>
    </div>
    <p><h3>Use the following OTP to complete your password reset procedures.</h3></p>
    <p><h3>OTP is valid for 5 minutes.</h3></p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{code}}</h2>
    <p style="font-size:0.9em;">Thank You.<br />From,<br />App Name</p>
    <hr style="border:none;border-top:1px solid rgb(71, 70, 70)" />
    <div style="float:right;padding:8px 0;color:rgb(82, 81, 81);font-size:0.8em;line-height:1;font-weight:300">
      <p>App Name Inc</p>
      <p>Location</p>
      <p>Kathmandu Nepal</p>
    </div>
  </div>
</div>