<html>
    <head>
        <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");
        * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }
        body {
        font-family: "Roboto Slab", serif;
        }
        .wrapper {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
        135deg,
        rgb(30, 250, 180),
        rgb(180, 30, 250)
        );
        }
        .form-wrapper {
        width: 100%;
        max-width: 500px;
        padding: 50px;
        background-color: white;
        box-shadow: 0 0 10px rgba(30, 250, 180, 0.4);
        }
        .form-group {
        margin: 20px 0;
        }
        input {
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        margin: 5px 0;
        }
        input:not([type="submit"]) {
        border: 2px solid rgba(0, 0, 0, 0.7);
        }
        input[type="submit"] {
        background-color: rgb(8, 131, 92);
        color: white;
        font-size: 20px;
        }
        input[type="submit"]:hover {
        cursor: pointer;
        background-color: rgb(35, 235, 171);
        }
        input[type="submit"]:active {
        background-color: rgb(28, 80, 63);
        }
        input:not([type="reset"]) {
        
        border: 2px solid rgba(0, 0, 0, 0.7);
        }
        input[type="reset"] {
        background-color: rgb(8, 131, 92);
        color: white;
        font-size: 20px;
        }
        input[type="reset"]:hover {
        cursor: pointer;
        background-color: rgb(35, 235, 171);
        }
        input[type="reset"]:active {
        background-color: rgb(28, 80, 63);
        }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="form-wrapper">
                <form name="RegForm" action="" onsubmit="return scriptForm()" method="post">
                    Password: <input type="password" name="Password" required> <br>
                    Confirm Password: <input type="password" name="Password1" required> <br>
                    <input type="submit" value="Save" name="Submit">
                    <input type="reset" value="Reset" name="Reset">
                </form>
            </div>
        </div>
    </body>
</html>
<script>
function scriptForm()
{
var password = document.forms["RegForm"]["Password"];
var password1 = document.forms["RegForm"]["Password1"];
if (password1.value !== password.value)
{
window.alert("Please re-enter same password.");
password1.focus();
return false;
}
return true;
}
</script>